body {
	background-color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}
	
.wrapper {
	margin: 0 auto;
}

#question {
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;

}

#question h1 {
	color: #fff;
	font-family: Arial;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 20%;
	letter-spacing:3px;
}

#yes{
	color: #fff;
	font-family: Arial;
	font-size: 5em;
	text-align: left;
	position: relative;
	top: 20%;
	float: left;
	transition: all 500;
}

#no {
	color: #fff;
	font-family: Arial;
	font-size: 5em;
	float: right;
	position: relative;
	top: 20%;
	transition: all 500;
	display: inline-block;
}

#answers {
	cursor: pointer;
	width:40%;
	margin: 0 auto;
	position: relative;
	top: 25%;
	display: block;
}

#answer-yes {
	display: none;
	z-index: 15;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;

}

#answer-yes h2 {
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	position: relative;
	top: 20%;
}

#answer-no {
        display: none;
	z-index: 15;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
}

#answer-no h2 {
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	position: relative;
	top: 20%;
}

video.clip {
	margin: 0;
	padding: 0;
	width: 100%;
}

*{
	margin: 0;
	padding: 0;
}

.video-placeholder {
	display: none;
	float: left;
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
}

.footer {
	margin: 0 auto;
	width: 100%;
	background-color: #000;
	clear: both;
	height: 300px;
}

.footer h2 {
	color: #fff;
	font-size: 3em;
	font-family: Arial;
	text-align: center;
	position: relative;
	top: 20%;
}

.footer h3 {
	color: #fff;
	font-size: 1.5em;
	font-family: Arial;
	font-weight: 100;
	text-align: center;
	position: relative;
	top: 25%;
}

.footer a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: all 500;
}

.footer a:hover {
	opacity: .2;

}

#map {
	width: 100%;
}

#logo {
	margin: 0;
	padding: 0;
	z-index: 10;
}

@media (min-width: 400px) {
	.wrapper {
		width: 400px;

	}

	#map {
		width: 400px;
		height: 400px;
	}
	
	#logo {
		position: relative;
		left: 0;
		top: 100px;
		margin: 0;
		padding: 0;
		z-index: 10;
	}
}

@media (min-width: 600px){
	.wrapper {
		width: 600px;
	}
	
	#map {
		width: 600px;
		height: 400px;
	}
	
	#logo {
		position: relative;
		left: 20%;
		top: 100px;
		margin: 0;
		padding: 0;
		z-index: 10;
	}
}

@media (min-width: 1200px){
	.wrapper {
		width: 1200px;
	}
	
	#logo {
		position: relative;
		left: 33%;
		top: 100px;
		margin: 0;
		padding: 0;
		z-index: 10;
	} 

	#map {
		width: 1200px;
		height: 600px;
	}
}